<div class="container">
<div class="row">
<div class="col s12 center-align">
<form>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
   <th>
      <label>Homepage:</label>
      <br> {{input placeholder = "Please type homepage" value=newCategoryHomepage}}
    </th>
    <th>
     <label>Description:</label>
    {{input placeholder = "Please type description" value=newCategoryDescription }}
  
    </th>
    <td> 
    <button type="submit" class="btn" disabled={{isDisabled}} {{action 'addNewCategory' newCategoryHomepage newCategoryDescription}}>Add Data</button>
    </td>
    <td>
    <input type="button" name="clear_form" class ="btn a pink lighten-1" value="Reset Form" onclick="this.form.reset();">
    </td>
  </tr>
 </thead>
</table> 
</form>
</div>
</div>
</div>

<div class="container">
<div class="row">
<table class="striped highlight centered responsive-table">
        <thead>
          <tr>
         <th>Name
         </th>
         <th>Description</th>
          </tr>
        </thead>
    <tbody>
  {{#each model as |category|}}
  <tr>
     <td>{{category.homepage}}</td>
     <td>{{category.description}} </td>
   <tr>
      <td>
    <button class="btn btn-xs a pink lighten-1" {{action 'deleteCategory' category}}>Delete</button>
        </td>
   </tr>
   </tr>
    {{/each}}
    </tbody>
 </table>
 </div>
 </div>

<div class="container">
 <div class="row">
  <div class="col s8 offset-s4 left-align">
    <blockquote>Number of categories: {{model.length}} </blockquote>
  </div>
 </div>
</div>

{{outlet}}